<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>

<% include ../helpers/header.ejs%>

<body>

<div class="commonBlock newsSpecialPage">

    <h1>
        <%= data[0].title %>
    </h1>
    <div class="dataAndTagMain">
        <div class="data"><%=data[0].date%></div>
        <!--<div class="tag">tag</div>-->
    </div>
    <div class="mainBlock mainContent">

        <main class="detailNews">
            <div class="textOnDetailNews">


                <%- data[0].desc %>

                <p>
                    <cite><%= data[0].cite %></cite>
                </p>

            </div>
            <img class="mainImgOnDetailNews" src="<%= data[0].imgDetail %>" alt="<%= data[0].title %>">

            <hr>
            <h3 class="newNews">Похожие</h3>


            <% for (let i = 0 ;i <= similarNews.length-1 ; i++){%>
            <article>
                <div class="articleOnMain">
                    <div class="imageOnMainArticle">

                        <a href="<%=similarNews[i].titleEu%>">
                            <img src="<%=similarNews[i].img%>"
                                 alt="<%=similarNews[i].title%>">
                        </a>
                    </div>

                    <div class="textOnMainArticle">
                        <div class="dataAndTagMain">
                            <div class="data"><%=similarNews[i].date%></div>
                            <div class="tag"><%=similarNews[i].tag%></div>
                        </div>
                        <h2>
                            <a href="/news/<%=similarNews[i].id%>/<%=similarNews[i].titleEu%>">
                                <%=similarNews[i].title%>
                            </a>
                        </h2>

                    </div>

                </div>
            </article>
            <%}%>
            <hr>

            комменты от вк

        </main>

        <aside class="onlyNewsRightMenu">
            <div class="nameOfAsideRight">
                <!--<div>Календарь</div>-->
                <!--<div>Бойцы</div>-->
                главные новости
            </div>
            <div class="centerBlock">

                <div class="scrollRightMenu ">

                    <%for(let i =0 ;i <= latest.length-1 ; i++){%>
                    <article>
                        <div class="video">
                            <!--<div class="videoImg">-->
                                <!--<a href="">-->
                                    <!--<img src="/img/khabibMiddle.jpg" alt="">-->
                                <!--</a>-->
                            <!--</div>-->
                            <div class="nameOfVideo">


                                <h2>
                                    <a href="/news/<%=latest[i].id%>/<%=latest[i].titleEu%>">
                                        <%=latest[i].title%>
                                    </a>
                                </h2>


                            </div>
                        </div>
                    </article>
                    <%}%>
                </div>
            </div>

            <!--<div class="centerBlock">-->



                <!--<div class="scrollRightMenu ">-->

                    <!--<article>-->
                        <!--<div class="video">-->
                            <!--&lt;!&ndash;<div class="videoImg">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img src="/img/khabibMiddle.jpg" alt="">&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="nameOfVideo">-->


                                <!--<h2>-->
                                    <!--<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum,-->
                                        <!--impedit.-->
                                    <!--</a>-->
                                <!--</h2>-->


                            <!--</div>-->
                        <!--</div>-->
                    <!--</article>-->


                <!--</div>-->
            <!--</div>-->
        </aside>

        <div class="clr"> </div>
    </div>

</div>

</body>

<% include ../helpers/footer.ejs%>

</html>