<!doctype html>
<html lang="en">
<head>

    <% include ../helpers/head.ejs%>
    <title>Document</title>

</head>


<% include ../helpers/header.ejs%>

<body>

<div class="commonBlock newsSpecialPage">

    <!--<div class="titleCommon">-->
    <!--<span>новости</span>-->
    <!--</div>-->

    <div class="mainBlock mainContent">


        <!--<div class="rightFloatingBlock">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<h2>-->
        <!--<a href="#">KO of the Week: Paul Felder vs Stevie Ray</a>-->
        <!--</h2>-->
        <!--<iframe width="20px" height="40px" src="https://www.youtube.com/embed/7APwwMUYEoA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
        <!--</li>-->
        <!--<hr>-->

        <!--<li>-->
        <!--<h2>KO of the Week: Paul Felder vs Stevie Ray</h2>-->

        <!--<iframe width="20px" height="40px" src="https://www.youtube.com/embed/7APwwMUYEoA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
        <!--</li>-->

        <!--<hr>-->
        <!--<li>-->
        <!--<h2>KO of the Week: Paul Felder vs Stevie Ray</h2>-->

        <!--<iframe width="20px" height="40px" src="https://www.youtube.com/embed/7APwwMUYEoA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
        <!--</li>-->
        <!--<hr>-->
        <!--<li>-->
        <!--<h2>KO of the Week: Paul Felder vs Stevie Ray</h2>-->

        <!--<iframe width="20px" height="40px" src="https://www.youtube.com/embed/7APwwMUYEoA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->


        <main>

            <div class="filter">

                <div class="nameOfFilter">
                    Фильтр
                </div>

                <div class="filterFlex">
                    <div class="insideFilterBlock">Все подряд</div>
                    <div class="insideFilterBlock">бокс</div>
                    <div class="insideFilterBlock">mma
                        <select class="form-control">
                        <option>
                        ufc
                        </option>
                        <option>
                        bellator
                        </option>
                        <option>
                        acb
                        </option>
                        <option>
                        m1 global
                        </option>
                        </select>
                    </div>
                    <div class="insideFilterBlock">Анонсы боев</div>
                </div>

            </div>

            <div class="widget">
                <form>
                    <input  type="search" class="search form-control" placeholder="What are you looking for?"/>
                </form>
            </div>
            test <%=data[0].id%>
            <div class="bottomArticle">



                <% for(let i = 0 ; i <= data.length-1 ;i++){%>
                <article>
                    <div class="articleOnMain">
                        <div class="imageOnMainArticle">
                            <a href="/news/<%= data[i].data%>/<%= data[i].titleEu%>">
                                <img src="<%=data[i].img%>"
                                     alt="<%=data[i].title%>">
                            </a>
                        </div>

                        <div class="textOnMainArticle">
                            <div class="dataAndTagMain">
                                <div class="data"><%-(new Date ((data[i].date))).toLocaleDateString('en-US') %></div>
                                <div class="tag"><%=data[i].tag%></div>
                            </div>
                            <h2>
                                <a href="/news/<%=(new Date ((data[i].date))).toLocaleDateString('en-US') %>/<%=data[i].id%>/<%= data[i].titleEu%>">
                                    <%=data[i].title%>
                                </a>
                            </h2>
                        </div>

                    </div>
                </article>

                <%}%>



                смотреть еще(автооткрывание)

            </div>

            <div class="clr"></div>

        </main>

        <aside>

            <div class="rightMenu ">

                <div class="nameOfAsideRight">Календарь</div>


            </div>

            <article class="calendar">
                <div class="calendarData">

                    <ul>
                        <li class="month">Апрель</li>
                        <li class="numberOfMonth">5</li>
                        <li class="year">2018</li>
                    </ul>

                </div>
                <div class="nameOfCalendar">
                    <h2><a href="">МакГрегор Хабиб</a></h2>
                </div>

            </article>

            <article class="calendar">
                <div class="calendarData">

                    <ul>
                        <li class="month">Апрель</li>
                        <li class="numberOfMonth">5</li>
                        <li class="year">2018</li>
                    </ul>

                </div>
                <div class="nameOfCalendar">
                    <h2><a href="">МакГрегор Хабиб</a></h2>
                </div>

            </article>

            <article class="calendar">
                <div class="calendarData">

                    <ul>
                        <li class="month">Апрель</li>
                        <li class="numberOfMonth">5</li>
                        <li class="year">2018</li>
                    </ul>

                </div>
                <div class="nameOfCalendar">
                    <h2><a href="">МакГрегор Хабиб</a></h2>
                </div>

            </article>

        </aside>
        <div class="clr"></div>


        <aside class="onlyNewsRightMenu ">

            <div class="nameOfAsideRight">
                <!--<div>Календарь</div>-->
                <!--<div>Бойцы</div>-->
                популярное
            </div>
            <div class="centerBlock">

                <div class="scrollRightMenu ">

                    <article>
                        <div class="video">
                            <div class="videoImg">
                                <a href="">
                                    <img src="/img/khabibMiddle.jpg" alt="">
                                </a>
                            </div>
                            <div class="nameOfVideo">

                                <h2>
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum,
                                        impedit.
                                    </a>
                                </h2>


                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="video">
                            <div class="videoImg">
                                <a href="">
                                    <img src="/img/khabibMiddle.jpg" alt="">
                                </a>
                            </div>
                            <div class="nameOfVideo">


                                <h2>
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum,
                                        impedit.
                                    </a>
                                </h2>


                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </aside>

        <div class="clr"> </div>

    </div>

</div>

</body>

<% include ../helpers/footer.ejs%>

</html>